*.egg-info
*.mo
*.pyc
.coverage
.installed.cfg
.mr.developer.cfg
.plone*
.project
.pydevproject
.settings/
checkversion*
log.html
output.xml
report.html
selenium-screenshot-*
htmlcov/
bin/
devel/
develop-eggs/
parts/
var/
buildout-cache/
include/
lib/
local/
