language: python
python:
  - 2.7
install:
  - mkdir -p buildout-cache/{eggs,downloads}
  - python bootstrap.py -c travis.cfg
  - bin/buildout -c travis.cfg -q -t 3
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
script:
  - bin/test
  - bin/coverage.sh
  - bin/code-analysis
notifications:
  email:
    recipients:
      - devs@imio.be
    on_success: change
    on_failure: change

